{% extends 'cocina/index.html' %}

{% load static %}

{% block content %} 


<align right>

<h4> <p>Mi nombre es Carla Geier, soy de CABA, Argentina.</p>
     <p>Me estoy iniciando en la programación.</p>
     <p>Este es mi primer blog. </p>
     <p>Las recetas no son mías, son de la página https://www.paulinacocina.net/ </p>
     <p>¡Si desean incursionar en la cocina, realmente hay algunas muy interesantes!</p>
     <p>La foto realmente me representa. Soy mamá de un bebé de 1 año que no para</p>
     <p>y que me invita a no parar yo para seguirle el ritmo.</p>
     <p>Gracias por la clase!! </p></h4>

<p> <img src="{{ image }}" height="400px" > </p>

</align>


{% endblock  %}